<div class="login-container">
    <% if (messages.error) { %>
        <div class="alert alert-danger"><%= messages.error %></div>
      <% } %>      
    <h2>Login</h2>
    <form action="/account/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      
        <button type="submit">Login</button>
    </form>      
</div>