<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYU-Idaho Pharmacy</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/BYUI-Logo.jpg">
    <script src="/scripts/scripts.js"></script>
</head>
<body>
        <%- include('partials/header') %>

    <div class="image-container">
        <picture>
            <source srcset="images/small-pharmacy.webp" media="(max-width: 500px)">
            <source srcset="images/medium-pharmacy.webp" media="(max-width: 750px)">
            <img src="/images/large-pharmacy.webp" alt="table setting" width="1500" height="600">
        </picture>
        <div class="overlay-text">Pharmacy</div>
    </div>
        <%- include('partials/navbar') %>
    <main>
        <%- body %>
    </main>
        

        <%- include('partials/footer') %>
</body>
</html>
