<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYU-Idaho Pharmacy</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/scripts.js"></script>
</head>
<body>
        <%- include('partials/header') %>

    <div class="image-container">
        <img src="/images/design2.jpg" alt="Pharmacy Background Image">
        <div class="overlay-text">Pharmacy</div>
    </div>
        <%- include('partials/navbar') %>
 
        <%- body %>

        <%- include('partials/footer') %>
</body>
</html>
