<nav>
    <ul>
      <li><a href="/info/welcome">Welcome</a></li>
      <li><a href="/info/howtofill">Start Filling</a></li>
      <li><a href="/info/insurance">Insurance Information</a></li>
      <li><a href="/info/faqs">FAQs</a></li>
      <li><a href="/student/dashboard">Student Dashboard</a></li>
    </ul>
</nav>