<h1>Student Dashboard</h1>

<h2>Profile</h2>
<div>
    <h3>Welcome back, John!</h3>
    <p>Email: japp13453@byui.edu</p>
    <p>I-Number: 000111222</p>
    <p>Current Address: 123 Example St Apt 1 Rexburg, ID 83440</p>
    <button>Update</button>
</div>

<h2>Medications</h2>
<!-- <button onclick="fetchMedications()">Load Medications</button> -->
<div class="medList">
    <section class="med-card">
        <h3>Adderall 10mg tablets</h3>
        <p>Quantity: 60</p>
        <p>Days Supply: 30</p>
        <p>Perscriber: Dr. John Doe</p>
        <p>Refills Remaining: 0</p>
    </section>
    <section class="med-card">
        <h3>Adderall XR 30mg capsules</h3>
        <p>Quantity: 30</p>
        <p>Days Supply: 30</p>
        <p>Perscriber: Dr. John Doe</p>
        <p>Refills Remaining: 0</p>
    </section>
    <section class="med-card">
        <h3>Sertraline 50mg tablets</h3>
        <p>Quantity: 180</p>
        <p>Days Supply: 90</p>
        <p>Perscriber: Dr. John Doe</p>
        <p>Refills Remaining: 4</p>
        <button>Refill Prescription</button>
    </section>
    <section class="med-card">
        <h3>Allergy Relief (Loratadine) 10mg tablets</h3>
        <p>Quantity: 30</p>
        <p>Days Supply: 30</p>
        <p>Perscriber: Dr. John Doe</p>
        <p>Refills Remaining: 11</p>
        <button>Refill Prescription</button>
    </section>
</div>
<div>
    <h2>Please notify prescriber that you are out of refills, and contact the pharmacy so that we can request for the refill also.
        If it is a controlled medication (ex. Adderall or other ADHD stimulants) pleace contact prescriber for a new prescription.
    </h2>
</div>
