<section class="filling">
    <img class="main-img" src="/images/medicine-2801025_640.png" alt="prescription bottle" width="200px">
    <div class="hippa-note">
        <h3>We are HIPPA Complient:</h3>
        <p><strong>What does that mean?</strong> HIPAA is a rule that helps keep people's health information, 
            like doctor visits or medicine details, private and safe. It's like having a secret diary that only you and trusted people, 
            like your parents or doctor, can read. For a pharmacy to be HIPAA compliant, it means they have to be extra careful to keep your health information safe. 
            They can't share your medicine details with others, and they must lock up records so no one else can peek. It's 
            all about protecting your personal health secrets!</p>
            <p>Please understand, that this applies to anyone of 18 years or older are only allowed access to information unless there is written or
                verbal consent that it is okay for a parent, friend, etc. to have access to it.
            </p>
    </div>
    <div>
        <h3>Want to Fill Your Prescriptions Here?</h3>
        <h4>Here are easy steps to begin this process:</h4>
        <p>If this is your first time ever using a pharmacy, welcome! Here is what you will need.</p>
        <ul>
            <li>Full legal name: (ex. John Doe)</li>
            <li>Date of Birth: (ex. 01/01/2000)</li>
            <li>Address: (please give us the address of where you are living for school here at BYUI)</li>
            <li>Phone Number: We have a text service you can opt in for or we can also send emails!</li>
            <li>I-Number: We do not do any transactions we bill any charges to you student account.</li>
            <li>Insurance: Are you under the Student Helath Plan or under a private insurance? Please have a picture or a copy of the card!</li>
            <li>Any allergies to medications or food products? Please let us know.</li>
            <li>Are you currently taking anything over the counter (ex. vitamins, supplements, antihistamines for allergies)?</li>
            <li>Are you currently taking medications that are being filled at another pharmacy? If so what are they?</li>
        </ul>
        <p>Need a prescription transferred? Whether it is to us or to a pharmacy back home we can help!</p>
        <ul>
            <li>Transfer to the BYUI-Pharmacy: Please contact us at (208)496-9330. Please give us your name, date of birth, what medication you need transferred, and the pharmacy it is 
                located at and their phone number. We will contact them and start the process for you, but please know it may take a few hours for the proccess to be completed and have the 
                prescription ready for pick up!
            </li>
            <li>Transfer out to another pharmacy: Whether you are going home, graduated from the university, or need to use a differnet pharmacy, we will happily help you. To transfer
                to another pharmacy, please call that pharmacy first give them your name, date of birth, our pharmacy's name and our contact information and they will call us.</li>
        </ul>
    </div>
    <div>
        <h3>Picking up Your Prescription</h3>
        <p>We are located in the Student Health Center open from 9am to 5pm Monday-Friday, but are closed during devotional hours. To pick up a prescription here is what to do:</p>
        <ul>
            <li>First and Last Name</li>
            <li>Date of Birth</li>
            <li>Phone Number</li>
            <li>I-number</li>
            <li>Drivers License or Passport: You will need this to pick-up and controlled medications, like ADHD stimulants. For international students please have your passports.</li>
        </ul>
        <p>For those having a friend or family member picking up your prescription, they will need the information above. If they are picking up a controlled medication You need to
        contact us and give us the okay for them to pick it up so we have a note written in your file. The friend or family member will need a form of idenification listed above. Please
    make sure your form of idenification is up to date and not expired!</p>
    </div>
</section>