<div>
    <img class="main-img" src="/images/medical-report-5817916_640.png" alt="reference image" width="200px">
    <h3>Insurance? What do I need to do?</h3>
    <p>Prescription insurance is a type of health coverage that helps pay for the cost of medicines your doctor prescribes. 
    It’s different from medical insurance because medical insurance mainly helps cover doctor visits, hospital stays, surgeries, and treatments.
    </p>
    <p>Think of it like this:</p>
    <ul>
        <li>Medical insurance helps pay for when you go to the doctor or hospital.</li>
        <li>Prescription insurance helps pay for the medicine you get at the pharmacy.</li>
    </ul>
    <p>Some medical insurance plans include prescription coverage, but not always.
    Sometimes, people need a separate prescription insurance plan to help make their medications more affordable. 
    Without it, medicines can be very expensive, especially if someone needs them regularly.
    </p>
</div>
<div>
    <h3>What does it look like?</h3>
    <img src="/images/insurance-example.png" alt="example-card" width="250px">
    <p>What we look for when you give a copy or picture of the card to us we are looking for up to 4 specific things which are:</p>
    <ul>
        <li>RxBIN</li>
        <li>RxPCN</li>
        <li>RxGRP</li>
        <li>ID</li>
    </ul>
    <p>Insurances can an will differ from card to card. Whether it will be located on the medical insurance or one separate from it. Some cases we will only need an ID and RxBIN.</p>
</div>