
    <section class="welcome">
        <div>
            <h3>Welcome to the Pharmacy!</h3>
            <h4> Hours of Operation:</h4>
            <ul>
                <li>Monday: 9:00am - 5:00pm</li>
                <li>Tuesday: 9:00am - 5:00pm - Closed for Devotional</li>
                <li>Wednesday: 9:30am - 5:00pm</li>
                <li>Thursday: 9:00am - 5:00pm</li>
                <li>Friday: 9:00am - 5:00pm</li>
                <li>Saturday/Sunday: Closed</li>
            </ul>
            <h4>Contact Information:</h4>
            <p>(208)496-9330 Option 3 for the Pharmacy</p>
        </div>
        <div>
            <img class="main-img" src="/images/medicine-2801025_640.png" alt="prescription bottle" width="200px">
            <h3>Want to Start Filling Prescriptions Here?</h3>
            <p>We are here to help! Anyone who is a student, spouse, child, or even faculty is welcome to fill here!</p>
            <a href="/howtofill">Let's Begin</a>
        </div>
        <div>
            <img class="main-img" src="/images/medical-report-5817916_640.png" alt="reference image" width="200px">
            <h3>Insurance? What do I need to do?</h3>
            <p>Prescription insurance is a type of health coverage that helps pay for the cost of medicines your doctor prescribes. 
            It’s different from medical insurance because medical insurance mainly helps cover doctor visits, hospital stays, surgeries, and treatments.
            </p>
            <p>Think of it like this:</p>
            <ul>
                <li>Medical insurance helps pay for when you go to the doctor or hospital.</li>
                <li>Prescription insurance helps pay for the medicine you get at the pharmacy.</li>
            </ul>
            <p>Some medical insurance plans include prescription coverage, but not always.
            Sometimes, people need a separate prescription insurance plan to help make their medications more affordable. 
            Without it, medicines can be very expensive, especially if someone needs them regularly.
            </p>
            <a href="insurance.ejs">Learn More</a>
        </div>
        <div>
            <h3>Who works at the SHC Pharmacy?</h3>
            <p>Here at the pharmacy we are student run! Our pharmacy technicians are students currently enrolled here at BYUI receiving their
                educations which range from medical degrees to even programming! However, our full-time Pharmacist is faculty and such a kind gentleman
                wanting to help and build connections with everyone he meets. We love you Shawn!
            </p>

        </div>
    </section>
